/* Song Player (Grooveshark)
----------------------------------------------------------------------------- */


    div.player.song {
    
        display: none;
        width: 98%;
        height: 40px;
        overflow: hidden;
        border: 0;
        position: fixed;
        left: 1%;
        bottom: 10px;
        background: $widget-background-player;
    
        -moz-box-shadow: $widget-shadow;
        -moz-user-select: none;
        -webkit-box-shadow: $widget-shadow;
        -webkit-user-select: none;
    
    }