/* Video Player (YouTube, Vimeo)
----------------------------------------------------------------------------- */


    div.player.video {

        @include widget;    
        background: $widget-background-player;
    
        -webkit-user-select: none;
        -moz-user-select: none;
        
    }
    
    div.player.video div, div.player.video iframe, div.prompt.video div.preview div {
    
        width: 100% !important;
        height: 360px;
        border: 0;
    
    }
    
    div.player.video h4 {
    
        display: block;
        clear: left;
        margin: 0;
        padding-top: 10px;
        color: $widget-color-emphasized;
        font: $widget-font-emphasized;
        cursor: default;
    
    }