<li>

    <div>

        <h4>&nbsp;</h4>
        <em>&nbsp;</em>

        <ul class="buttons">

            <li class="add"><a href="#">Add Song</a></li>
            <li class="play"><a href="#">Listen</a></li>
    
        </ul>

    </div>

</li>