/* Examples of Widgets
----------------------------------------------------------------------------- */


    body {
    
        background-color: $background;
    
    }
    
    div#example {
    
        float: left;
        width: 100%;
        padding: 40px 0;
    
    }