/* Sassy Mixins
----------------------------------------------------------------------------- */
    
    
    @mixin widget {
    
        clear: left;
        float: left;
        width: 94%;
        margin-bottom: 20px;
        border-radius: $widget-corner;
        box-shadow: $widget-shadow;
        padding: 3%;
        
        &.ui-sortable-helper {
        
            padding: 16px;
            
            box-shadow: $widget-shadow-dragging;
            -moz-box-shadow: $widget-shadow-dragging;
            -webkit-box-shadow: $widget-shadow-dragging;
        
        }
        
        -moz-border-radius: $widget-corner;
        -moz-box-shadow: $widget-shadow;
        -webkit-border-radius: $widget-corner;
        -webkit-box-shadow: $widget-shadow;
    
    }
    
    
/* Icon Buttons */
    
    
    @mixin close {
    
        display: none;
        width: 24px;
        height: 24px;
        border-radius: $button-corner-emphasized;
        position: absolute;
        background: $button-background url(/ui/buttons/images/close.png) no-repeat center center;
        text-indent: -5000px;
        
        -moz-border-radius: $button-corner-emphasized;
        -moz-box-shadow: rgba(0, 0, 0, .50) 0px 0px 5px;
        -webkit-border-radius: $button-corner-emphasized;
        -webkit-box-shadow: rgba(0, 0, 0, .50) 0px 0px 5px;
    
    }