<h2>Stylish, fun &amp; unforgettable.<br />Just the right website for your wedding.</h2>
<p>Keep your family and friends in the know. Post dates, travel info, registries, and more. See for yourself in just minutes &mdash; no commitment necessary!</p>

<div id="content">

    <%= form :template => "new", :action => "/prototype/welcome/new" %>

</div>

<ul>
<li><a href="#">Not so fast? &mdash; Find out more</a></li>
</ul>

<%- scripts '/prototype/pages/new' -%>