/* LOVE FOR DESIGN
/* Color Stylesheet
----------------------------------------------------------------------------- */
body { background-color: #eee; }
//body > div { background-color: #fff; }

/* Links */
a { color: #625a52; }
a:hover { color: #da8b91; }
