/* LOVE FOR DESIGN
/* Color Stylesheet
----------------------------------------------------------------------------- */


    body {
    
        background-color: #eee;
    
    }

    body > div {
    
        background-color: #fff;
    
    }
    

/* Links */


    a {
    
        color: #000;
    
    }