/* LOVE FOR DESIGN
/* Form Stylesheet
----------------------------------------------------------------------------- */


    fieldset, label {

        clear: left;
        float: left;
        margin: 10px 10px 10px 0;
        border: 0;
        padding: 0;
    
    }
    
    fieldset {

        border: 1px dashed #aaa;
        border-radius: 3px;
        padding: 5px;

    }
    
    fieldset > label, fieldset p {
    
        clear: none;
        margin-top: 0;
        margin-bottom: 0;
    
    }

    label em, fieldset legend {

        color: #000;
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;

    }
    
    label small {
    
        font-size: 14px;
        line-height: 20px;        
    
    }
    
    fieldset legend {
    
        margin: 0 2px;
        padding: 0;
        line-height: 12px;
    
    }

    fieldset p {
    
        margin: 0 10px 0 2px;
        font-size: 14px;
        line-height: 20px;
    
    }

    fieldset label em {
    
        font-weight: normal;
    
    }
    
    label input[type=text] {
    
        display: block;
    
    }


/* Groups */


    div.group {
    
        display: block;
        clear: left;
    
    }

    div.group.toggle {
    
        display: none;
    
    }


/* Actions */


    menu {
    
        display: block;
        width: 100%;
        float: left;
        margin: 0;
        padding: 0 0 20px 0;
        background: url(../images/skin/thread.png) repeat-x bottom left;
    
    }
    
    menu li {
    
        margin: 0;
        padding: 0;
    
    }
    
    menu a {
    
        display: block;
        width: 99%;
        margin: 20px 0 1px 0;
        border: 0;
        border-radius: 10px;
        padding-top: 5px;
        background-color: #da8b91;
        color: #fff;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;

        -webkit-box-shadow: 3px 3px 1px #b86c71;
        -moz-box-shadow: 3px 3px 1px #b86c71;

    }
    
    menu a:active {

        margin: 21px 0 0 3px;

        -webkit-box-shadow: 2px 2px 1px #b86c71;
        -moz-box-shadow: 2px 2px 1px #b86c71;
   
    }