/* LOVE FOR DESIGN
/* Layout
----------------------------------------------------------------------------- */


    body {

        min-width: 980px;
        margin: 0 0 20px 0;
        padding: 0;
        background: #c7af82 url(../images/skin/body.jpg);

    }


/* Page */


    section#page {

        width: 500px;
        margin: 0 auto;
        padding: 5px;
        background: url(../images/skin/border-top.png), url(../images/skin/border-bottom.png), url(../images/skin/border-left.png), url(../images/skin/border-right.png);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-position: top left, bottom left, top left, top right;

    }

    section#page:after, section#page > div > *:after {

        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;

    }

    section#page > div {

        width: 100%;
        float: left;
        background: url(../images/skin/background-page.png) repeat, top left;

    }