/* LOVE FOR DESIGN
/* Master Stylesheet
----------------------------------------------------------------------------- */


    @import url('layout.css');
    @import url('global.css');
    @import url('groups.css');
    @import url('patterns.css');
    @import url('widgets.css');

    @font-face {

        font-family: 'Bodoni Egyptian';
        src: url('../fonts/eot/style_196043.eot');
        src: url('../fonts/eot/style_196043.eot?#iefix') format('embedded-opentype'),url('../fonts/woff/style_196043.woff') format('woff'),url('../fonts/ttf/style_196043.ttf') format('truetype'),url('../fonts/svg/style_196043.svg#BodoniEgyptianPro-Regular') format('svg');

    }

    @font-face {

        font-family: 'Bodoni Egyptian';
        font-weight: bold;
        src: url('../fonts/eot/style_196039.eot');
        src: url('../fonts/eot/style_196039.eot?#iefix') format('embedded-opentype'),url('../fonts/woff/style_196039.woff') format('woff'),url('../fonts/ttf/style_196039.ttf') format('truetype'),url('../fonts/svg/style_196039.svg#BodoniEgyptianPro-Bold') format('svg');

    }


/* Reset
----------------------------------------------------------------------------- */


    body {

        font-family: "Bodoni Egyptian", serif;

    }

    nav h1 {

        display: none;

    }

    form, h3, h4 {

        margin: 0;
        padding: 0;

    }

    p {

        margin: 0 0 20px 0;

    }