/* Date Picker
----------------------------------------------------------------------------- */


    div.form label.date input {
    
        background: url(/widgets/form/images/bg-picker-date.png) no-repeat 5px 5px;
        padding-left: 26px;
        padding-right: 0;
        cursor: pointer;
    
        -moz-user-select: none;
        -webkit-user-select: none;

    }
    
    div.form label.date input.set {
    
        background-image: url(/widgets/form/images/bg-picker-date-set.png);
    
    }
    
    div.form label.date input[disabled] {

        background-image: url(/widgets/form/images/bg-picker-date.png);
        color: $form-border-field;
    
    }
    
    div.form label.date button {
    
        display: none;
    
    }
    

/* Panel */


    div.ui-datepicker {

        display: none;
        position: relative;
        margin-top: 5px;
        border: $form-border-calendar;
        border-radius: $form-corner;
        background-color: $form-background-calendar;
        font: $form-font;
        
        -moz-border-radius: $form-corner;    
        -moz-user-select: none;
        -webkit-border-radius: $form-corner;
        -webkit-user-select: none;

    }


/* Header */


    div.ui-datepicker-header {
    
        margin-top: -2px;
        border-top-left-radius: $form-corner;
        border-top-right-radius: $form-corner;
        padding: 6px 8px 4px 8px;
        background-color: $form-color-emphasized;
        cursor: default;
        
        -webkit-border-top-left-radius: $form-corner;
        -webkit-border-top-right-radius: $form-corner;
        -webkit-user-select: none;
        -moz-border-radius-topleft: $form-corner;
        -moz-border-radius-topright: $form-corner;
        -moz-user-select: none;
    
    }
    
    div.ui-datepicker-header select {

        margin: 0;
        border: 0;
        outline: none;
        padding: 0 0 2px 0;
        background: none;
        color: $form-color-calendar;
        font: $form-font;
        cursor: pointer;
    
        -webkit-border-radius: 5px;
        -webkit-appearance: none;
        -moz-border-radius: 5px;
        -moz-appearance: none;

    }
    
    div.ui-datepicker-header select.ui-datepicker-year {
    
        width: 35px;
        float: right;
        color: $form-background-calendar;
        text-align: right;
    
    }
    
    a.ui-datepicker-prev, a.ui-datepicker-next {

        display: none;

    }


/* Calendar */

    
    div.ui-datepicker thead th {
    
        width: 30px;
        height: 20px;
        color: $form-color-calendar;
        text-transform: lowercase;
    
    }
    
    div.ui-datepicker tbody td {

        margin: 0;
        padding: 0;
        color: $form-color-calendar;
        text-align: center;
        vertical-align: center;
        
    }
    
    div.ui-datepicker tbody > tr > td a {
    
        display: block;
        width: 30px;
        height: 20px;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
    
    }
    
    div.ui-datepicker tbody > tr > td a:hover {
    
        display: block;
        width: 30px;
        height: 20px;
        border-radius: 8px;
        background-color: $form-color-emphasized;
        color: $form-background-calendar;
    
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;

    }