/* Customizer
----------------------------------------------------------------------------- */


    form.widget {
    
        float: left;
        width: 100%;
    
    }
    
    div.widget > a.close {
    
        @include close;
    
        display: none;
        top: -12px;
        right: -12px;
    
    }
    
    div.widget:hover > a.close {
    
        display: block;
    
    }


/* Widget Ordering */


    body.couple div.widget h3, body.trial div.widget h3 {
    
        display: block;
        width: 100%;
        float: left;
        clear: left;
        position: relative;
        z-index: 100;
        cursor: move;
    
        -moz-user-select: text;
        -webkit-user-select: text;
    
    }


/* Shelf
----------------------------------------------------------------------------- */


    div#customizer {

        width: 516px;
        float: left;
        clear: left;
        margin-bottom: 60px;    
        border: 2px solid #efefef;
        padding: 10px;
        
        -webkit-border-radius: 10px;
    
    }

    div#customizer > div.widgets {
    
        display: none;
    
    }
    
    div#customizer > ul {

        float: left;
        margin: 0;
        padding: 0;
    
        li {
    
            width: 18.6%;
            float: left;
            margin: 0 2% 0 0;
    
        }

        li:last-child {
        
            margin-right: 0;
        
        }
        
        li a {

            display: block;
            border-radius: $widget-corner-minimized;
            background: $widget-background;
            color: $background;
            font: $widget-font-minimized;
            text-align: center;
            text-decoration: none;
     
            -webkit-border-radius: $widget-corner-minimized;
            -webkit-user-select: none;
            -moz-border-radius: $widget-corner-minimized;
            -moz-box-shadow: $widget-shadow;
            -moz-user-select: none;
        
        }
        
        li a:hover {
        
            background: $widget-background-emphasized;
        
        }
    
    }