/* Page Layout
----------------------------------------------------------------------------- */


    body {
    
        min-width: 900px;
        margin: 0;
        padding: 0;
        background-color: $background;
    
    }
    
    div#page {

        float: left;
        width: 100%;

    }
    
    div#content {

        width: 550px;
        margin: 0 auto;    
    
    }

    .center {
    
        margin-left: auto !important;
        margin-right: auto !important;
        visibility: hidden;
    
    }


/* Headings
----------------------------------------------------------------------------- */


    div#page > h2 {
    
        display: block;
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        color: $color-emphasized;
        font: $font-emphasized;
    
    }