/* Text Formatting
----------------------------------------------------------------------------- */


    @import "../../themes/prototype";


    body {
    
        margin: 0 !important;
        padding: 0 !important;
    
    }

    a {
    
        color: #000;
    
    }
    
    img {
    
        background-color: #eee;
    
    }

    p {
    
        display: block;
        clear: left;
        margin: 0 0 10px 0;
        font: $font;
    
    }
    
    ul {
    
        width: 100%;
        margin: 20px 0;
        padding: 0;
        font: $font;
        list-style-type: none;
        text-align: center;
    
    }
    
    ul a {
    
        color: $color;
    
    }