<section class="widget events" style="text-align: center">

<div> 
  <h2>Wedding Events</h2> 
  
  <%= render :partial => 'widget_group_header', :locals => {:widget_group => widget_group} %>

  <% widget_group.each do |page_widget| %>
    <%= render :partial => 'widget_event', :object => page_widget.widget %>
  <% end %>

  <%= render :partial => 'widget_group_footer' %>

</div>
</section>
