<!-- TEXT WIDGET --> 
<div class="text freeform" style="text-align: center"> 
<% unless widget_text.title.blank? %><h1><%= widget_text.title %></h1><% end %>
<%= raw(widget_text.text) %>
</div> 
<!-- / TEXT WIDGET --> 
