<% add_to_js('rsvp') %>

<% form_for :rsvp, @rsvp, :url => {:action => :create_rsvp } do |f| %>
<section class="widget rsvp vevent">

            <div>

              <h2>RSVP</h2>
              <h3 class="summary">Caroline &amp; Tony's Wedding</h3>
              <time class="dtstart" title="2011-08-27"><a href="event.ics">August 27, 2011</a></time>
        
              <fieldset>
                
                <legend>Will you be able to attend?</legend>
                <label><input type="radio" name="rsvp" value="1" class="toggle" /><em>Yes</em></label>
                <label><input type="radio" name="rsvp" value="0" checked="checked" /><em>No</em></label>
                    
              </fieldset>
        
              <div id="rsvp-1" class="group toggle">

		<% @wedding.rsvp_questions.each do |rsvp_question| %>
		<%= render_rsvp_form_element(rsvp_question) %>
		<% end %>

		<fieldset>
                  <legend>Additional Notes</legend>
                  <p>Please let us know if you have any special requests</p>
                  <textarea name="notes" cols="40" rows="4"></textarea>
        
                </fieldset><br />

	      </div>
    
              <menu>
                <li><input type="submit" value="RSVP" /></li>
              </menu>
        
            </div>
</section>
<% end %>
