<% if @page.show_title %><h2><%= @page.title %></h2><% end %>

<% @page.page_widgets.each do |page_widget| %>
  <% if page_widget.is_group_widget? %>
    <%= render_page_widget_group(page_widget) %>
  <% else %>
   <%= render_page_widget(page_widget.widget) %>
  <% end %>
<% end %>
