 <form method="post" action="#">
   <section class="widget rsvp vevent">
     <div>
       <h2>RSVP</h2>
       <h3>Thank you for submitting your response.</h3>
       <p class=rsvp-text>We look forward to seeing you there!</p>
       <p class=rsvp-text>Love,<br><span class='rsvp-text highlite'>Caroline</span> &amp; Tony</p>
     </div>
   </section>
 </form>
