 <form method="post" action="#">
   <section class="widget rsvp vevent">

     <div>

       <h2>RSVP</h2>
       <h3>thanks for submitting your response.</h3>
       <p>we hope to see you there!</p>
       <p>love, caroline &amp; tony</p>
       
     </div>
        
   </section>
 </form>
