<form method="post" action="<%= @action %>">
<div class="widget editor <%= options %>">

    <textarea id="instance-<%= rand(10) %>" cols="80" rows="10">

        <% if @options[:placeholder] %>
        
            <p><%= @options[:placeholder] %></p>
            
        <% else %>
        
            &lt;p&gt;&lt;strong&gt;Lorem Ipsum&lt;/strong&gt; is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.&lt;/p&gt;
            &lt;p&gt;Contrary to popular belief, Lorem Ipsum is not simply &lt;em&gt;random text&lt;/em&gt;. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at &lt;strong&gt;Hampden-Sydney College&lt;/strong&gt; in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by &lt;strong&gt;Cicero&lt;/strong&gt;, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.&lt;/p&gt;
            
            &lt;ul&gt;
            &lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/li&gt;
            &lt;li&gt;Maecenas tempor velit elit, nec commodo eros.&lt;/li&gt;
            &lt;li&gt;Curabitur bibendum nunc eget velit pretium consectetur&lt;/li&gt;
            &lt;li&gt;Nullam quis mauris a enim dictum rutrum.&lt;/li&gt;
            &lt;/ul&gt;

        <% end %>

    </textarea>

</div>
</form>

<%- libraries '/libraries/jquery-1.4.4.js', '/libraries/jquery-tinymce.js', '/libraries/jquery-hoverintent.js' -%>
<%- scripts '/widgets/editor/text' -%>