<ul>
<li class="bold"><a href="#" title="Bold">Bold</a></li>
<li class="italic"><a href="#" title="Italic">Italic</a></li>
<li class="list"><a href="#" title="Bulleted List">Bulleted List</a></li>
<li class="justifyleft"><a href="#" title="Left-align Text">Left-align Text</a></li>
<li class="justifycenter"><a href="#" title="Center Text">Center Text</a></li>
</ul>

<ul class="color">

    <li><a href="#"><strong>Body Color</strong></a></li>

    <ul class="palette">

        <li class="body"><a href="#"><em>Body Color</em></a></li>
        <li class="one"><a href="#"><em>Accent Color</em></a></li>
        <li class="two"><a href="#"><em>Accent Color</em></a></li>
        <li class="three"><a href="#"><em>Accent Color</em></a></li>
        <li class="four"><a href="#"><em>Accent Color</em></a></li>
        <li class="five"><a href="#"><em>Accent Color</em></a></li>

    </ul>

</ul>