<optgroup label="2011">

    <option>Spring</option>
    <option>Summer</option>
    <option>Fall</option>
    <option>Winter</option>

</optgroup>
<optgroup label="2012">

    <option>Spring</option>
    <option>Summer</option>
    <option>Fall</option>
    <option>Winter</option>

</optgroup>