<div class="guide <%= options %>">

    <h3><%= @options[:heading] %></h3>
    <p><%= @options[:message] %></p>

</div>

<%- libraries '/libraries/jquery-1.4.4.js', '/libraries/jquery_ui-1.8.9.js' -%>
<%- scripts '/ui/guide/guide' -%>