<% content_for :head do %>
<style>
	.widget.albums { margin-bottom: 0; }
	.widget.albums ul { padding-left: 0; }
	.widget.albums li { color: #625A52; }
	.widget.albums li strong { color: #DA8B91; }
	.widget.albums li img { display: block; margin: auto; margin-bottom: 15px; overflow: hidden; -webkit-box-shadow: 10px 10px 10px #888; -moz-box-shadow: 10px 10px 10px #888; box-shadow: 10px 10px 10px #888; }
	.widget.albums p { line-height: 1.1em; font-size: 11pt; }
	.widget.albums.ring ul { margin: auto; }
	.widget.albums.ring li { float: left; margin: 10px; }
	.widget.albums.ring li img { height: 205px; }
</style>
<% end %>
<section class=widget style=text-align:center;>
	<div>
		<h2>Wedding Party</h2>
		<section class="widget albums">
		  <div>
		    <h3>Ladies</h3>
		    <ul>
		      <li>
		        <img src="http://farm4.static.flickr.com/3506/5735088674_f97baf2c67_m.jpg"/>
		        <strong>Collin Kim</strong> - Maid of Honor
						<p>Even though you’d rather play basketball with the boys and only wore black/white/grey for the longest time, we somehow managed to become friends and complement each other perfectly.  I miss making those drives from Coppell to Plano to hang out at your house or get Java & Cha.  I will never forget your obsession with freddie prinze jr., you serenading me with your parents’ karaoke machine, and the one night at Kinko’s that we documented so well.  You are my <a href=http://en.wikipedia.org/wiki/The_Sisterhood_of_the_Traveling_Pants_%28film%29>sisterhood</a> and no matter how much time, space, or life comes between us, you will forever be my best friend.  Thanks in advance for wearing the pink dress!
					<li>
						<img src="http://farm3.static.flickr.com/2054/5735089800_6aa033104e_m.jpg"/>
						<strong>Kathryn Chin</strong> - Bridesmaid
						<p>As a fellow girlfriend and founding member of RGFD (Real Girlfriends of Divis), Kathryn and I quickly became friends over our love for trashy TV and Hello Kitty.  There is never a dull moment when you’re with Kat: texting with 80% emoji, taking shots from a smuggled “water bottle”, and exchanging Nordstrom Anniversary Sale finds.  Even all the way from the UAE, you make it easy to stay in touch via chat, email, text, Facebook, and Skype&mdash;you’re a well connected lady :)  Your positive energy is contagious and I know there will not be a shortage of goofy faces in my future wedding album!
					<li>
						<img src="http://farm6.static.flickr.com/5307/5734647231_4ac0f49351_m.jpg"/>
						<strong>Rachel Wei</strong> - Bridesmaid
						<p>Loving mom, awesome wife, organizing meetings, and still manages to look good? To most people, there aren’t enough hours in the day to do what you do.  But on top of all this, you’ve been the sweetest, most thoughtful person from the moment we met.  Our days of wishful thinking about Tony and I getting married, moving down to the south bay, and having kids so you can babysit feels like it was just yesterday!  Someday Tony & Jerry will understand why Whole Foods and ShopBop are a necessity, not an option, but until they do we have each other :)
					<li>
						<img src="http://farm6.static.flickr.com/5023/5735196618_267a738154_m.jpg"/>
						<strong>Stephanie Le</strong> - Bridesmaid
						<p>Is butter a carb?  What day is it?  Is your muffin buttered?  Steph is the only person I can trust asking such important questions to.  I met my princess sister through our friend Matt who thought we’d get along.  Obviously he didn’t realize he was in the presence of <a href=http://www.yourmonaco.com/royal>royalty</a>.  Since then we’ve cooked many dinners for Shanko, blacked out at Maroon 5 concerts, cried over SATC, played countless games of deluxe Scrabble and laughed hysterically at our favorite luxury blog.  You were my first girlfriend out here and there’s no one else I’d rather have watch over me on CalTrain ;)
		    </ul>
		  </div>
		</section>
		<hr>
		<section class="widget albums">
		  <div>
		    <h3>Gentlemen</h3>
		    <ul>
		      <li>
		        <img src="http://farm4.static.flickr.com/3268/5734565419_eebc422e14_m.jpg"/>
		        <strong>Lijen Tan</strong> - Best Man
						<p>Some people refer to us as twins. As only children, we always had a good understanding of each other as we tend to share a lot of similar traits. Since moving up to SF, we have accomplished a lot of activities together including running a marathon, boxing in an exhibition matchup, building (non-) ridable road bikes, biking down from SF to LA, running a startup, and additional extra-curricular activities. We're usually the last ones to sleep in our house as we ponder about life's many questions.
				  <li>
		        <img src="http://farm6.static.flickr.com/5147/5735114936_f005e522a0_m.jpg"/>
		        <strong>Chris Nelson</strong> - Groomsmen
						<p>As one of my first friends since moving to Cupertino, Nelly has always been a constant in my life. We’ve grown up together, sang in choir together, and spent many days after school playing video games and watching TV. I’ve probably taken more naps in his bed (no homo) than probably all of his previous girlfriends combined.  He also introduced me to one of my favorite video games of all time &mdash; Final Fantasy 6.
		      <li>
		        <img src="http://farm3.static.flickr.com/2401/5735114564_102dc48a43_m.jpg"/>
		        <strong>James Lee</strong> - Groomsmen
						<p>Its been 36+ months since Yumguy, the artist formerly known as James Lee, has cut his hair. I use to think he was a little slow. It’s not that he’s unintelligent, but he takes his sweet time when contemplating over something (warning: do not wait in line behind him if you are ordering food). But surprisingly, over the 3 years we lived as roommates, I realized that he is one of the most insightful people I know. We’ve had a lot of deep conversations over the years and we seem to have a long running inside joke that will never end.
		      <li>
		        <img src="http://farm3.static.flickr.com/2751/5734564899_367116debc_m.jpg"/>
		        <strong>Norman Hsieh</strong> - Groomsmen
						<p>Faster than a speeding bullet, more powerful than a locomotive, and able to leap tall buildings in a single bound, Norman is one of my best friends since high school. I think he's been there for every drunk night that I have fallen on my face, and then proceeded to take care of me as I return back to consciousness. In the past he has snuck into my house and folded my laundry, force fed me Oreos against my will, and spent many drunken nights wrestling me.
		    </ul>
		  </div>
		</section>
		<hr>
		<section class="widget albums">
		  <div>
		    <h3>VIP</h3>
		    <ul>
					<li>
						<img src="http://farm4.static.flickr.com/3274/5735199842_429c661efe_m.jpg"/>
						<strong>Tina Tsou-Nelson</strong> - Wedding Day Coordinator
						<p>Tina is someone who’s always down for having a good time&mdash;in costume or not! This August, she’ll be celebrating her 2-year wedding anniversary with her husband Chris. After planning such an amazing event of her own, we knew there was only one person we’d trust with our special day.
					<li>
		        <img src="http://farm6.static.flickr.com/5221/5744337994_c05665eba7_m.jpg"/>
		        <strong>Brian Ngo</strong> - Officiant
						<p>When I think of Brian, I think of our first spiritual conversation about Jesus when we were really drunk in Vegas shortly after turning 21.  Since then it has nothing been WWJD and philosophical sports debates. Our discussions have started to evolve over the years, and we're excited to have such a spiritual man wed us.
		      <li>
		        <img src="http://farm6.static.flickr.com/5069/5735115196_8fa4e7e4e6_m.jpg"/>
		        <strong>Steven Huang</strong> - Emcee
						<p>I think what Steven taught me best is the art of slacking and still getting the job done. Probably one of the most intelligent people that I know, Steven has an aura of confidence about him and we think he's perfect guy to get the party started.
		    </ul>
		  </div>
		</section>
		<hr>
		<section class="widget albums ring">
		  <div>
		    <h3>Ring Bearers</h3>
				<p>Our 2 favorite little toddlers from the Weiside Underground Corporation.</p>
		    <ul>
		      <li>
		        <img src="http://farm4.static.flickr.com/3151/5734675093_4e0f95c122_m.jpg"/>
		        <strong>Jeremy Wei</strong>
				  <li>
		        <img src="http://farm4.static.flickr.com/3014/5734675161_1a11353181_m.jpg"/>
		        <strong>Tyler Wei</strong>
		    </ul>
		  </div>
		</section>
	</div>
</section>
