<% content_for :head do %>
<style>
	.widget.albums { margin-bottom: 0; }
	.widget.albums ul { padding-left: 0; }
	.widget.albums li img { display: block; margin: auto; margin-bottom: 15px; overflow: hidden; -webkit-box-shadow: 10px 10px 10px #888; -moz-box-shadow: 10px 10px 10px #888; box-shadow: 10px 10px 10px #888; }
	.widget.albums p { line-height: 1.1em; font-size: 11pt; }
	.widget.albums.ring ul { margin: auto; }
	.widget.albums.ring li { float: left; margin: 10px; }
	.widget.albums.ring li img { height: 205px; }
</style>
<% end %>
<section class=widget style=text-align:center;>
	<div>
		<h2>Wedding Party</h2>
		<section class="widget albums">
		  <div>
		    <h3>Ladies</h3>
		    <ul>
		      <li>
		        <img src="http://farm4.static.flickr.com/3506/5735088674_f97baf2c67_m.jpg"/>
		        <strong>Collin Kim</strong><br>Maid of Honor
		    </ul>
		  </div>
		</section>
		<hr>
		<section class="widget albums">
		  <div>
		    <h3>Dudes</h3>
		    <ul>
		      <li>
		        <img src="http://farm4.static.flickr.com/3268/5734565419_eebc422e14_m.jpg"/>
		        <strong>Lijen Tan</strong> - Best Man
						<p>Since moving up to SF, we have accomplished a lot of activities together including running a marathon, boxing bootcamp, building (non-) ridable road bikes, biking down from SF to LA, and additional extra-curricular activities.  As only children, we always had a good understanding of each other and we tend to share some similar traits.
				  <li>
		        <img src="http://farm6.static.flickr.com/5147/5735114936_f005e522a0_m.jpg"/>
		        <strong>Chris Nelson</strong> - Groomsmen
						<p>As one of my first friends since moving to Cupertino, Nelly has always been a constant in my life. We’ve grown up together, sang in choir together, and spent many after school days playing video games and watching TV. I’ve probably taken more naps in his bed (no homo) than probably all of his previous girlfriends combined.  He also introduced me to one of my favorite video games of all time -- Final Fantasy 6.
		      <li>
		        <img src="http://farm3.static.flickr.com/2401/5735114564_102dc48a43_m.jpg"/>
		        <strong>James Lee</strong> - Groomsmen
						<p>Its been 36+ months since Yumguy, the artist formerly known as James Lee, has cut his hair. I use to think he was a little slow. It’s not that he’s unintelligent, but he takes his sweet time when contemplating over something (warning: do not wait in line behind him if you are ordering food). But surprisingly, over the 3 years we lived as roommates, I realized that he is one of the most insightful people I know. We’ve had a lot of deep conversations over the years and we seem to have a long running inside joke that will never end.
		      <li>
		        <img src="http://farm3.static.flickr.com/2751/5734564899_367116debc_m.jpg"/>
		        <strong>Norman Hsieh</strong> - Groomsmen
						<p>Faster than a speeding bullet, more powerful than a locomotive, and able to leap tall buildings in a single bound. Norman is one of my best friends since high school. I think he's been there for every drunk night that I have fallen on my face. In the past he has snuck into my house and folded my laundry, force fed me Oreos against my will, and spent many drunken nights wrestling me.
			    <li>
		        <img src="http://farm6.static.flickr.com/5221/5744337994_c05665eba7_m.jpg"/>
		        <strong>Brian Ngo</strong> - Officiant
						<p>When I think of Brian, I think of our first spiritual conversation about Jesus when we were really drunk in Vegas shortly after turning 21.  Since then it has nothing been WWJD and philosophical sports debates. Our discussions have started to evolve over the years, and we're excited to have such a spiritual man wed us.
		      <li>
		        <img src="http://farm6.static.flickr.com/5069/5735115196_8fa4e7e4e6_m.jpg"/>
		        <strong>Steven Huang</strong> - Emcee
						<p>I think Steven taught me best the art of slacking and still getting the job done. Probably one of the most intelligent people that I know, Steven has an aura of confidence about him and we think he's perfect to get any party started.
		    </ul>
		  </div>
		</section>
		<hr>
		<section class="widget albums ring">
		  <div>
		    <h3>Ring Bearers</h3>
				<p>Our 2 favorite little toddlers from the Weiside Underground Corporation.</p>
		    <ul>
		      <li>
		        <img src="http://farm4.static.flickr.com/3151/5734675093_4e0f95c122_m.jpg"/>
		        <strong>Jeremy Wei</strong>
				  <li>
		        <img src="http://farm4.static.flickr.com/3014/5734675161_1a11353181_m.jpg"/>
		        <strong>Tyler Wei</strong>
		    </ul>
		  </div>
		</section>
	</div>
</section>
