/* Guide Widget
----------------------------------------------------------------------------- */


    div.guide {

        @include widget;
        
        position: relative;
        background-color: $widget-background-emphasized;
        text-align: center;
    
    }

    div.guide h3 {

        margin: 0;    
        border: 0;
        color: $background;
        font: $widget-font-emphasized;
    
    }
    
    div.guide p {
    
        margin: 0;
        color: $color-emphasized;
        font: $font;
    
    }
    
    div.guide > a.close {
    
        @include close;

        top: -13px;
        right: -13px;
    
    }