<div id="<%= @options[:clip] %>" class="widget player <%= options %>">

         <div></div>

    <% if @options[:play] == "video" %>

        <h4></h4>
        <em></em>
    
    <% else %>

        <h3>Song</h3>

    <% end %>

</div>

<%- libraries '/libraries/jquery/1.5/jquery-1.5.1.min.js', '/libraries/swfobject/swfobject-2.2.min.js' -%>

<% if @options[:play] == "video" %>
    <%- adapters '/adapters/youtube', '/adapters/vimeo' -%>
<% else %>
    <%- adapters '/adapters/grooveshark' -%>
<% end %>

<%- scripts '/widgets/player/play.js' -%>