/* Example - Text Editor
----------------------------------------------------------------------------- */
/* Prototype Theme
----------------------------------------------------------------------------- */
/* Buttons */
/* Footer */
/* Forms */
/* Header */
/* Navigation */
/* Toolbar */
/* Widgets */
/* Examples of Widgets
----------------------------------------------------------------------------- */
body { background-color: #bfbfbf; }

div#example { float: left; width: 100%; padding: 40px 0; }

@import url(../widgets.css);
/* Text Editor Widget
----------------------------------------------------------------------------- */
/* Text Editor
----------------------------------------------------------------------------- */
/* Prototype Theme
----------------------------------------------------------------------------- */
/* Buttons */
/* Footer */
/* Forms */
/* Header */
/* Navigation */
/* Toolbar */
/* Widgets */
/* Buttons */
div.editor.text a.close { top: 0; right: 0; }

div.editor.text.editing a.close { top: -13px; right: -13px; }

/* TinyMCE Editor */
div.editor.text { float: left; clear: left; width: 100%; position: relative; margin-bottom: 10px; }

div.editor.text.editing { margin-bottom: 20px; padding-bottom: 22px; }

div.editor.text > span.mceEditor { display: block; background-color: white; -moz-border-radius-topleft: 15px; -moz-border-radius-topright: 15px; -moz-border-radius-bottomright: 15px; -moz-box-shadow: #8f8f8f 0px 0px 20px; -webkit-border-top-left-radius: 15px; -webkit-border-top-right-radius: 15px; -webkit-border-bottom-right-radius: 15px; -webkit-box-shadow: #8f8f8f 0px 0px 20px; }

div.editor.text > textarea, div.editor.text > span.mceEditor > div { display: none !important; }

div.editor.text iframe { width: 96% !important; margin: 0; border: 0 !important; padding: 2%; background: none; }

/* TinyMCE Editor - Autogrow Resize Plugin (requires a wrapping table) */
div.editor.text table { width: 100% !important; height: auto !important; }

body.mceContentBody, div.editor.text table, div.editor.text td { margin: 0; border: 0 !important; padding: 0; background: transparent !important; vertical-align: top; }

/* Formatting Toolbar
----------------------------------------------------------------------------- */
div.toolbar { display: block; position: absolute; bottom: 0; left: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 0 32px 2px 2px; background-color: black; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; }

div.toolbar ul, div.toolbar li { float: left; margin: 0; padding: 0; }

div.toolbar li { display: block; width: 30px; height: 20px; margin-right: 2px; background-color: black; }

div.toolbar ul:first-child li:first-child { border-bottom-left-radius: 8px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; }

div.toolbar ul:last-child li:last-child { border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; }

/* Color Palette */
div.toolbar ul.color { width: 30px; height: 20px; position: absolute; bottom: 2px; right: 2px; }

div.toolbar ul.color li { background: none; }

div.toolbar ul.color > li a { display: block; position: absolute; bottom: 0; right: 0; border-bottom-right-radius: 8px; background-color: black; opacity: 1; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; }

div.toolbar ul.color > ul.palette { display: block; position: absolute; width: 32px; height: 0; border-top-left-radius: 8px; border-top-right-radius: 8px; border-top: 2px solid white; border-left: 2px solid white; border-right: 2px solid white; padding: 0; overflow: hidden; bottom: 20px; right: 0; background: rgba(0, 0, 0, 0.7); -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; }

div.toolbar ul.color > ul.palette > li { clear: left; }

div.toolbar ul.color > ul.palette > li:first-child { padding-top: 5px; }

div.toolbar ul.color > ul.palette > li:last-child { padding-bottom: 5px; }

div.toolbar ul.palette li em { display: block; width: 12px; height: 12px; margin: 5px 9px; background-color: #8f8f8f; text-indent: -5000px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

div.toolbar ul.palette li a { opacity: 1; }

div.toolbar ul.color > li.body a, div.toolbar ul.palette li.body em { background-color: white; }

div.toolbar ul.color > li.one a, div.toolbar ul.palette li.one em { background-color: #ffc757; }

div.toolbar ul.color > li.two a, div.toolbar ul.palette li.two em { background-color: #4ecad0; }

div.toolbar ul.color > li.three a, div.toolbar ul.palette li.three em { background-color: #a7e65f; }

div.toolbar ul.color > li.four a, div.toolbar ul.palette li.four em { background-color: #aa8d84; }

div.toolbar ul.color > li.five a, div.toolbar ul.palette li.five em { background-color: #be7a95; }

/* Formatting Icons */
div.toolbar li a { display: block; width: 30px; height: 20px; background-position: center center; background-repeat: no-repeat; text-indent: -5000px; }

div.toolbar.selected a { opacity: 0.5; }

div.toolbar li.selected a { opacity: 1; }

div.toolbar li.bold a { background-image: url(/widgets/editor/images/bold.png); }

div.toolbar li.italic a { background-image: url(/widgets/editor/images/italic.png); }

div.toolbar li.list a { background-image: url(/widgets/editor/images/list.png); }

div.toolbar li.justifyleft a { background-image: url(/widgets/editor/images/justifyleft.png); }

div.toolbar li.justifycenter a { background-image: url(/widgets/editor/images/justifycenter.png); }
