/* Select Control
----------------------------------------------------------------------------- */


    .select label.select {
    
    display: none;
    
    }

    .select > li > ul:first-child {

    opacity: 0.5;    
    
    }

    .select > li:hover > ul:first-child {

    border-color: #aaa;
    opacity: 1;
    
    }

    .select > li.added > ul:first-child {
    
    border-color: #000;
    opacity: 1;
    
    }